.kiri2 {
    width: 700px;
    height: 100%;
    background-color:#EDEDED;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;
    box-shadow: 3px 0 5px darkslategrey;
}


.backBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 30px;
    transform: rotate(90deg);
    cursor: pointer;
}

.petProfile {
    float: right;
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
    top: 13px;
    left: 150px;
}

.navbar-brand {
    margin-left: 50px;
}

.profile2 {
    width: 90px;
    height: 90px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    transition: .2s;
}

    .accountSet {
        color: deeppink;
        font-size: 22px;
        margin-top: 10px;
        text-align: left;
        margin-left: 20px;
    }

    /* .email {
        background-color: #fff;
        width: 80%;
    } */

    .email {
        position: absolute;
        left: 0;
        text-align: left;
        float: left;
        margin-left: 20px;
        background-color: #fff;
    }  

    .isiEmail {
        position: absolute;
        right: 0; 
        text-align: right;
        margin-right: 30px;
    }

    .a {
        width: 100%; 
        height: 60px;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        line-height: 60px;
        margin-bottom: 10px;
        position: relative;
    }

.phn {
    margin-left: 20px;
}

.disc {
    position: absolute;
    left: 0;
}

.isiPhn {
    position: absolute;
    right: 0; 
    top: 0;
    text-align: right;
    margin-right: 30px;
}

.discovery {
    width: 90%;
    position: relative;
    height: 500px;
    margin-top: 60px;
    background-color: #fff;
    border-top-right-radius: 10px;
}

.move {
    position: absolute;
    width: 80%;
    top: 40px;
    left: 30px;
}

.tittleDistance {
    font-size: 22px;
    color: deeppink;
    margin-left: 10px;
    padding-top: 7px;
}

.jarak {
    position: absolute;
    right: 15px;
    font-size: 20px;
    top: 10px;
}

.tittleAge {
    font-size: 22px;
    color: deeppink;
    margin-left: 10px;
    margin-top: 60px;
}

.formGrup {
    width: 330px;
    font-size: 0;
    margin-left: 30px;
}

.dua {
    margin-top: 15px;
}

.logout  {
    position: absolute;
    right: -20px;
    bottom: 175px;
}

.profilCard {
    font-size: 12px;
    background-image: none;
    width: 300px;
    height: 500px;
    position: absolute;
    right: -190px;
    color: grey;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 5px darkslategrey;
}

.deksTeks {
    overflow: auto;
    width: 110%;
}

.deks {
    position: relative;
    overflow: hidden;
}

.deksInner {
    overflow: auto;
}

.foto {
    width: 300px;
    height: 400px;
    background-image: cover;
    border-radius: 10px;
    border-top-right-radius: 0;
}

/* isi profile */

.isiProfil {
    margin-bottom: 8px;
}

.isiProfilTittle {
    font-size: 28px;
}

.breederIcon {
    width: 18px;
    height: 18px;
}


.tombol-edit {
    line-height: 45px;
    width: 100px;
    height: 45px;
    background-image: linear-gradient(180deg, #EC7A7A 0%, #EC7AB7 100%);
    border-radius: 20px;
    font-size: 22px;
    color: white;
    margin: auto;
    position: absolute;
    bottom: 5px;
    left: 100px;
    cursor: pointer;
    padding-left: 30px;
    box-shadow: 0px 0px 10px rgb(114, 109, 109);
}

.tombol-edit:active {
    background-image: white;
    color: deeppink;
}

.spesi {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family: arial;
    top: 10px;
    right: 30px;
}

.card-text:last-child {
    margin-bottom: 40px;
}

/* .pro {
    width: 100px;
    height: 45px;
    background-image: linear-gradient(180deg, #EC7A7A 0%, #EC7AB7 100%);
    border-radius: 20px;
    font-size: 20px;
    color: white;
    position: absolute;
    right: 100px;
    top: -80px;
    box-shadow: 2px 2px 5px darkslategrey;
    cursor: pointer;
} */
/* 
.pro p {
    font-family: calibri;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
} */

.kanan {
    position: absolute;
    top: -270px;
    right: 0;
}

.apaBae {
    position: absolute;
    top: -120px ;
    width: 120px;
    right: -480px;
}

.payment-modal {
    border-radius: 20px;
}

.modal-content {
    border-radius: 20px;
}

.payment-body {
    background-image: linear-gradient(180deg, #EC7AB7 0%, #EC7A7A 100%);
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.payment-body h1 {
    margin-bottom: 40px;
    margin-top: 30px;
}

.payment-body h3 {
    font-size: 15px;
    font-family: segoe ui;
    margin-bottom: 30px;
}

.payment-body h4 {
    font-size: 15px;
    font-family: segoe ui;
    margin-bottom: 40px;
    position: relative;
}

.no-rek {
    width: 300px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 119, 119);
}

.no-rek:focus {
    outline: none;
}

.payment-foto {
    margin-top: 90px;
}

.payment-foto-navigate {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    color: black;
}

.bukti-payment {
    width: 160px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    left: 168px;
}

.close {
    width: 45px;
    height: 45px;
}

